<main align="center">

  <section id="section-home">
              

    <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-5 text-white">
        <h2>Quem somos</h2>
        <p class="text-align-center">Bem-vindo à nossa incrível loja gamer, o paraíso dos entusiastas de jogos! Aqui
          você encontrará tudo o que precisa para aprimorar sua experiência de jogo e mergulhar em aventuras
          emocionantes. Prepare-se para descobrir um universo repleto de tecnologia de ponta, equipamentos de última
          geração e uma variedade de produtos projetados para satisfazer as necessidades dos jogadores mais exigentes.
        </p>
        <p class="text-align-center">Nossa loja é um verdadeiro playground digital, projetado para atender a todos os
          tipos de jogadores, desde os novos até os mais experientes. Temos uma ampla gama de consoles de videogame,
          incluindo os mais recentes lançamentos, para que você possa desfrutar dos jogos mais populares do momento.
          Além disso, oferecemos uma seleção impressionante de computadores gamers de alta performance, capazes de lidar
          com os gráficos mais intensos e os jogos mais exigentes.</p>
      </div>
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
          src="./assets/img/game-console-g546af7e68_640.jpg" alt="..." /></div>
    </div>
   
  </section>


  <h2>Produtos</h2>
  <mat-grid-list cols="5">
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="/assets/img/gamer-g3e22f4115_1280.jpg" alt="Produto 1">

        <mat-card-header>
          <mat-card-title>Kit Mouse e Teclado</mat-card-title>
        </mat-card-header>

        
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">

        <img mat-card-image src="assets/img/ram.jpg" alt="Produto 2">

        <mat-card-header>
          <mat-card-title>Memória RAM</mat-card-title>
        </mat-card-header>
        
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">

        <img mat-card-image src="assets/img/machine-geb8e66d5d_1280.jpg" alt="Produto 3">

        <mat-card-header>
          <mat-card-title>Montamos o seu PC Gamer!</mat-card-title>
        </mat-card-header>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">

        <img mat-card-image src="assets/img/video-game-console-gcae1b3286_1280.jpg" alt="Produto 4">

        <mat-card-header>
          <mat-card-title>Xbox</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">

        <img mat-card-image src="assets/img/Minecraft_capa.png" alt="Produto 5">

        <mat-card-header>
          <mat-card-title>Minecraft</mat-card-title>
        </mat-card-header>
       
        
      </mat-card>


    </mat-grid-tile>
  </mat-grid-list>


  <h2>Contato</h2>
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-5 text-white">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome Completo">

      
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="E-mail">


    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Mensagem</mat-label>
      <input matInput placeholder="Mensagem">

    </mat-form-field>

  </p>
  <button class="bg-primary" mat-raised-button color="primary">Enviar</button>
</div>
<div class="col-lg-7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.7115628685006!2d-46.62409402573271!3d-23.542874460911243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce58e2bc6fdbb5%3A0x56e5728408f35323!2sEscola%20SENAI%20%22Roberto%20Simonsen%22!5e0!3m2!1spt-BR!2sbr!4v1686490828804!5m2!1spt-BR!2sbr" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>



</main>